* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

input,
select,
textarea button {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-des {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    /* width: 468px; */
    margin-top: 18px;
}

.btn {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #2E80CE;
    border-radius: 999px;
    display: inline-block;
    padding: 15px 20px;
    min-width: 205px;
    text-align: center;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* Header */
.header {
    min-height: 100vh;
    padding: 30px;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}

.header-action__login {
    margin-right: 7px;
}

.navbar__link:hover,
.navbar__link--header-action {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;

}

.navbar__link--header-action::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin-right: 11px;
    display: inline-block;
    position: relative;
    left: -8px;
    top: -2px;
}

.header-action__signup {
    min-width: 104px;
    padding: 8px 20px;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 22px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__media {
    flex-grow: 1;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    line-height: 1.67;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.hero__img:first-child {
    margin-right: -6px;
    position: relative;
}

.service {
    padding: 170px 0;
}

.section__heading,
.section__des {
    text-align: center;
}

.section__des {
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-item {
    margin-bottom: 21px;
    display: flex;
    width: 470px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;

}

.service-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 8px;
}

.service__row .btn {
    margin-top: 55px;
}

.service-item:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

/* Work */
.word {
    background: #F6FBFF;
    padding: 100px 0
}

.word__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.word-item {
    padding: 43px 42px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: .25s
}

.word-item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.word-item__heading {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    /* 138.462% */
}

.word-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 28px;
}

.word-item__more {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 18px;
    display: inline-block;
    /* 175% */
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    width: 332px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */

.member {
    padding: 85px 0;
    text-align: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
    margin-top: 70px;

}


.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-item__img-bg {
    background: #EAF6FF;
    padding-top: 28px;
    border-radius: 6px;

}

.member-item__thumb {
    display: block;
}

.member-item__name {
    margin-top: 12px;
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member-item__desc {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

/* Install */
.install {
    margin-top: 180px;
}

.install__inner {
    padding: 0 70px;
    border-radius: 4px;
    background: #2E80CE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.install__content {
    max-width: 586px;
}

.install__img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
    display: flex
}

.install__heading,
.install__desc {
    color: #FFF;
}

.install__heading {
    max-width: 489px;
}

.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px
}



.install__btn:hover {
    opacity: 0.5;
}

.install__desc {
    width: 100%;
}

/* News */
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__innner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__content {
    flex-shrink: 0;
}

.news-item__thumb {
    width: 100%;
    height: 172px;
    object-fit: cover;
    display: block;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    padding: 18px 0;
    display: inline-block;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.news__list {
    max-width: 570px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.news-item {
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-12px);
}

.news-item:hover .news-item__body {
    border-color: #fff
}

.news-item__body {
    border: 1px solid #E8EBEE;
    border-top: none;
    background: #fff;
    padding: 18px 22px;
    border-radius: 0 0 12px 12px;
    transition: .5s;

}



.news-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.news-item__desc {
    margin-top: 10px;
}

.news-item__desc {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.news-item__more {
    margin-top: 12px;
    display: block;
    color: #2E80CE
}

/* Appointment */
.appointment {
    padding: 85px 0;
}

.appointment__inner {
    background: #F6FBFF;
    padding: 100px 0;
    text-align: center;
}

.appointment__heading {
    position: relative;
}

.appointment__heading::after {
    content: "";
    width: 136px;
    height: 2px;
    background: #2E80CE;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 18px auto;
}

.appointment__desc {
    width: 617px;
    margin: 0 auto;
    font-size: 1.6rem;
}

.appointment__btn {
    margin-top: 38px;
}

/* Footer */
.footer {
    background: #10375C;
    font-family: "Open Sans", sans-serif;
    padding-top: 100px;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    max-width: 336px;
    color: #A9B3BB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 21px;
}

.footer__heading {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 20px;

}

.footer__list {
    margin-bottom: 28px;

}

.footer__link {
    color: #A9B3BB;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    /* margin-top: 10px; */
    display: block;
    white-space: nowrap;
    /* 185.714% */
}

.footer__link:hover {
    color: #FFF;
    text-decoration: underline;
}

.footer__item {
    margin-top: 10px;
}

.footer-form {
    display: flex;
    margin-top: 10px;
    column-gap: 12px;
}

.footer-form__input {
    width: 212px;
    outline: none;
    border: 1px solid #406181;
    border-radius: 4px;
    background: transparent;
    padding: 0 10px;
    color: #9CA8B1;
}

.footer-form__input::placeholder {
    color: #9CA8B1;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer_submit {
    min-width: 108px;
    height: 46px;
    border-radius: 4px;
}

.footer__coyright {
    border-top: 1px solid #406181;
    padding: 18px 0 42px
}

.footer__coyright-text {
    text-align: center;
    color: #AAB3BA;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    /* 185.714% */
}