* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-des {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    width: 468px;
    margin-top: 18px;
}

.btn {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #2E80CE;
    border-radius: 999px;
    display: inline-block;
    padding: 15px 20px;
    min-width: 205px;
    text-align: center;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* Header */
.header {
    min-height: 100vh;
    padding: 30px;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}

.header-action__login {
    margin-right: 7px;
}

.navbar__link:hover,
.navbar__link--header-action {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;

}

.navbar__link--header-action::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin-right: 11px;
    display: inline-block;
    position: relative;
    left: -8px;
    top: -2px;
}

.header-action__signup {
    min-width: 104px;
    padding: 8px 20px;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 22px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__media {
    flex-grow: 1;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    line-height: 1.67;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.hero__img:first-child {
    margin-right: -6px;
    position: relative;
}

.service {
    padding: 170px 0;
}

.section__heading,
.section__des {
    text-align: center;
}

.section__des {
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-item {
    margin-bottom: 21px;
    display: flex;
    width: 470px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;

}

.service-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 8px;
}

.service__row .btn {
    margin-top: 55px;
}

.service-item:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

/* Work */
.word {
    background: #F6FBFF;
    padding: 100px 0
}

.word__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.word-item {
    padding: 43px 42px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: .25s
}

.word-item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.word-item__heading {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    /* 138.462% */
}

.word-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 28px;
}

.word-item__more {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 18px;
    display: inline-block;
    /* 175% */
}